<p id="notice"><%= notice %></p>

<p>
  <strong>Sprinkle:</strong>
  <%= @sprinkle_agent.sprinkle_id %>
</p>

<%= link_to 'Edit', edit_sprinkle_agent_path(@sprinkle_agent) %> |
<%= link_to 'Back', sprinkle_agents_path %>
