MAIL='keburgett@gmail.com'
50 15 * * 4 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 1 1
51 15 * * 4 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 1 0
52 15 * * 4 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 2 1
53 15 * * 4 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 2 0
54 15 * * 4 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 3 1
55 15 * * 4 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 3 0
56 15 * * 4 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 4 1
57 15 * * 4 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 4 0
58 15 * * 4 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 5 1
59 15 * * 4 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 5 0
00 16 * * 4 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 6 1
01 16 * * 4 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 6 0
02 16 * * 4 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 7 1
03 16 * * 4 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 7 0
04 16 * * 4 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 8 1
05 16 * * 4 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 8 0
06 16 * * 4 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 9 1
07 16 * * 4 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 9 0
08 16 * * 4 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 10 1
09 16 * * 4 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 10 0
