MAIL='keburgett@gmail.com'
48 11 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:2017 1 1
49 11 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:2017 1 0
50 11 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:2017 2 1
51 11 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:2017 2 0
52 11 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:2017 3 1
53 11 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:2017 3 0
54 11 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:2017 4 1
55 11 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:2017 4 0
56 11 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:2017 5 1
57 11 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:2017 5 0
58 11 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:2017 6 1
59 11 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:2017 6 0
00 12 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:2017 7 1
01 12 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:2017 7 0
02 12 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:2017 8 1
03 12 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:2017 8 0
04 12 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:2017 9 1
05 12 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:2017 9 0
06 12 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:2017 10 1
07 12 * * 5 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:2017 10 0
