MAIL='keburgett@gmail.com'
09 16 * * 2 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 1 1 30055 99
10 16 * * 2 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 1 0 30055 99
11 16 * * 2 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 2 1 3827 99
12 16 * * 2 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 2 0 3827 99
13 16 * * 2 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 3 1 11128 99
14 16 * * 2 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 3 0 11128 99
15 16 * * 2 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 4 1 17709 99
16 16 * * 2 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 4 0 17709 99
17 16 * * 2 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 5 1 20284 99
18 16 * * 2 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 5 0 20284 99
19 16 * * 2 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 6 1 7061 99
20 16 * * 2 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 6 0 7061 99
21 16 * * 2 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 7 1 13613 99
22 16 * * 2 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 7 0 13613 99
23 16 * * 2 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 8 1 13453 99
24 16 * * 2 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 8 0 13453 99
25 16 * * 2 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 9 1 27530 99
26 16 * * 2 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 9 0 27530 99
27 16 * * 2 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 10 1 15617 99
28 16 * * 2 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 10 0 15617 99
